{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>...</p>
        <br>
        <p><b>Teléfono:</b> 54+ 3512546239</p>
        <p><b>Honorarios:</b> US$/h (precio base)</p>
        <p><b>e-mail:</b>pablitolopezpaglia@gmail.com</p>
    </div>
</div>
{% endblock %}